body {
  background-color: #ffea35;
  text-align: center;
  font-family: 'Barrio', cursive;
  margin: 30px;
  background-image: url(https://img.clipartfox.com/d44fdeb724837a1d72d78c653518b59e_-desert-sunset-by-retorman-beautiful-sunset-hd-clipart_1920-1052.jpeg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.header {
  border: solid 2px green;
  background: brown;
}

.badge1 {
  float: left;
  max-width: 120px;
  max-height: auto;
}

.badge2 {
  float: right;
  max-width: 120px;
  max-height: auto;
}

.column {
  margin-left: 60px;
  float:left;
  width: 250px;
  background-color: #d8a302;
  padding: 10px;
  border-radius: 3px;
  font-family: monospace;
  margin-bottom: 20px;
}

img {
  max-width: 250px;
  max-height: auto;
}

.column p {
  border: solid 2px pink;
  padding: 3px;
}

.Names {
  color: yellow;
  margin-left: 60px;
  float:left;
  width: 250px;
  font-family: monospace;
  font-size: 30;
}
 .Names h3 {
   text-decoration: underline;
 }
